
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;

body {
  @apply bg-gray-100 text-gray-900 overflow-y-scroll;
}
.header-logos {
  @apply border-b-2 mt-8 pb-6;
}
.sm-hide {
  @apply hidden;
}
.browse-category {
  @apply mb-24;
}
.browse-category-header {
  @apply flex border-b-2 w-full;
}
.browse-category-title {
  @apply px-3 py-2 text-white font-bold text-lg;
}
.article-thumbnail-title {
  @apply font-extrabold mx-4 mt-5 text-lg sm:h-14;
}
.article-thumbnail-para {
  @apply mx-4 my-3 text-justify sm:h-24;
}
.article-thumbnail-btn,
.search-btn {
  @apply px-4 py-2 mt-6 mb-4 bg-white border border-solid rounded text-lg cursor-pointer font-bold;
}
.article-thumbnail-btn:hover,
.search-btn:hover {
  @apply bg-red-800 text-white border-red-800;
}
.footer > * {
  @apply flex items-center m-auto place-content-center py-2;
}

@screen sm {
  .sm-hide {
    @apply inline-block;
  }
}

@tailwind utilities;

* {
  font-family: 'Noto Sans', sans-serif;
}
:root {
  --nc-blue: #0d3554;
  --nc-red: #d11143;

  font-size: 14px;
  line-height: 1.4285em;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.search {
  min-width: 30px;
}
.browse-category-header {
  border-color: var(--nc-blue);
}
.browse-category-title {
  background-color: var(--nc-blue);
}
.article-thumbnail {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.36);
}
.header-logos {
  border-color: var(--nc-blue);
}
.article-thumbnail-btn,
.search-btn {
  border-color: var(--nc-red);
  color: var(--nc-red);
}
.footer {
  background-color: var(--nc-blue);
  color: white;
  padding: 1rem;
}
.social-icon {
  width: 29px;
  height: 29px;
  margin-left: 0.5rem;
  cursor: pointer;
}

/* hamberger-menu */
#menu {
  width: 25px;
  cursor: pointer;
}
.bar {
  height: 3px;
  width: 100%;
  background-color: var(--nc-blue);
  display: block;
  border-radius: 3px;
  margin-top: 2px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.nav li a {
  text-decoration: none;
}
.nav li {
  list-style: none;
  font-weight: bolder;
  padding: 16px 0;
}
.nav {
  display: none;
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  left: 0;
}
.menu-bg {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-color: #efefef;
  transition: 0.3s ease;
}
#menu-bar {
  z-index: 2;
  margin-top: 1rem;
}
.change-bg {
  width: 100%;
  height: 100%;
}
.change #bar1 {
  transform: translateY(3px) rotateZ(-45deg);
}
.change #bar2 {
  opacity: 0;
}
.change #bar3 {
  transform: translateY(-3px) rotateZ(45deg);
}
.change {
  display: block;
}
